@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root
{
    --Soft-red: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --Blue: hsl(200, 100%, 62%);
    --Dark-desaturated-cyan: hsl(167, 40%, 24%);
    --Dark-blue: hsl(198, 62%, 26%);
    --Dark-moderate-cyan: hsl(168, 34%, 41%);
    --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
    --Very-dark-grayish-blue: hsl(213, 9%, 39%);
    --Dark-grayish-blue: hsl(232, 10%, 55%);
    --Grayish-blue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
}

header {
    width: 100%;
    height: 100px;
    background-color: var(--Blue);
}

.header-container {
    display: grid;
    grid-template-columns: 60% 40%;
    padding-top: 25px;
}

.header-container img {
    margin-left: 30px;
    margin-top: 10px;
    height: 30px;
}

.header-menu {
    display: grid;
    grid-template-columns: 70% 30%;
}


.header-ul li {
    display: inline-block;
    color: var(--White);
    font-size: 20px;
    font-family: 'Barlow', serif;
    margin-left: 50px;
    padding: 15px 0 15px 0;
}

.button {
    padding: 20px 25px;
    border-radius: 30px;
    background-color: var(--White);
    font-size: 16px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    width: 150px;
    border: none;
    text-transform: uppercase;
}

.hero {
    width: 100%;
    height: 650px;
    background-image: url(../Clase_29/images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hero-center {
    width: 80%;
    margin: auto;
}

.hero-center h1 {
    font-size: 55px;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--White);
    letter-spacing: 10px;
    text-align: center;
    padding-top: 90px;
}

.hero-flecha img {
    display: block;
    margin: auto;
    margin-top: 130px;
}

.section2-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 630px 630px 630px;
}

.section2-container h2 {
    font-family: 'Fraunces', serif;
    font-size: 45px;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    margin-bottom: 30px;
}

.text-container-a {
    margin: 170px 120px 0 180px;
}

.text-container-b {
    margin: 145px 110px 0 130px;
}

.s2-text {
    font-size: 18px;
    font-family: 'Barlow', serif;
    color: var(--Dark-grayish-blue);
    line-height: 30px;
    margin-bottom: 50px;
}

.s2-link {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    color: var(--Very-dark-desaturated-blue);
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    border-bottom: solid 8px var(--Yellow);
    width: 130px;
    margin-left: 10px;

}

.s2-link:hover {
    border-bottom: solid 8px var(--Soft-red);
}



.s2-b {
    background-image: url(../Clase_29/images/desktop/image-transform.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s2-c {
    background-image: url(../Clase_29/images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s2-d {
    background-image: url(../Clase_29/images/desktop/image-graphic-design.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.s2-e {
    background-image: url(../Clase_29/images/desktop/image-photography.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.second-text-container {
    margin: 430px 210px 0 210px;
}

.s2-subtitle {
    font-family: 'Fraunces', serif;
    text-align: center;
    color: var(--Dark-desaturated-cyan);
    font-size: 28px;
    font-weight: 900;
}

.s2-subtext {
    margin-top: 30px;
    text-align: center;
    font-family: 'Barlow', serif;
    font-size: 16px;
    color: var(--Dark-desaturated-cyan);
    line-height: 25px;
}

.section-3-container {
    display: grid;
    grid-gap: 30px;
    grid-template-areas: 
    "title3 title3 title3"
    "card1 card2 card3";
    margin: 0 180px 0 180px;
    /* grid-template-columns: 100%, 33% 33% 33%;
    grid-template-rows: 210px 300px; */
}

.title3 {
    grid-area: title3;
    margin-top: 170px;
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    color: var(--Grayish-blue);
    font-size: 14px;
    font-weight: 900;
    letter-spacing: 5px;
}

.title3 h1 {
    text-align: center;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.item {
    margin-top: 50px;
    height: 550px;
    width: 365.4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-a {
    background-image: url(../Clase_29/images/image-emily.jpg);
}

.photo-b {
    background-image: url(../Clase_29/images/image-thomas.jpg);
}

.photo-c {
    background-image: url(../Clase_29/images/image-jennie.jpg);
}

.testimonial-photo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70px;
    width: 70px;
    border-radius: 35px;
}

.testimonial-text {
    text-align: center;
    font-family: 'Barlow', serif;
    font-size: 18px;
    color: var(--Very-dark-grayish-blue);
    margin-top: 70px;
    width: 350px;
    line-height: 35px;
}

.testimonial-name {
    font-family: 'Fraunces', serif;
    color: var(--Very-dark-desaturated-blue);
    font-size: 18px;
    font-weight: 900;
    margin-top: 70px;
}

.testimonial-job {
    font-family: 'Barlow', serif;
    font-size: 15px;
    color: var(--Grayish-blue);
    margin-top: 15px;
}


.section4-container {
    display: flex;
    flex-direction: row;
}

.item4 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 480px;
    width: 25%;
}

.photo1 {
    background-image: url(../Clase_29/images/desktop/image-gallery-milkbottles.jpg);
}

.photo2 {
    background-image: url(../Clase_29/images/desktop/image-gallery-orange.jpg);
}

.photo3 {
    background-image: url(../Clase_29/images/desktop/image-gallery-cone.jpg);
}

.photo4 {
    background-image: url(../Clase_29/images/desktop/image-gallery-sugarcubes.jpg);
}

footer {
    background-color: hsl(169, 41%, 67%);
    height: 380px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-f {
    width: 250px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-footer {
    color: var(--Dark-moderate-cyan);
    height: 35px;
}

.footer-menu {
    color: var(--Dark-moderate-cyan);
    font-family: 'Barlow', serif;
    margin-top: 46px;
    font-size: 18px;
}

.footer-menu-item {
    display: inline-block;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.redes-sociales {
    margin-top: 95px;
}

.sm-icon {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.attribution {
    color: var(--Dark-moderate-cyan);
    font-family: 'Barlow', serif;
    margin-top: 40px;
    font-size: 14px;
}

.attribution a {
    color: var(--Dark-moderate-cyan);
    font-family: 'Barlow', serif;
    margin-top: 40px;
    font-size: 14px;
}